html, body{
  height: 100%;
  width: 100%;
}
.navbar {
  background-color: #dfd9e7;
}

section {
  display: flex;
  width: 100%;
  padding: 0 7%;
  margin: 0;
  max-width: none;
  background-color: #373B44;
  height: 100vh;
}
.home{
  /*padding-bottom: 3rem;
  padding-top: 3rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./docs/background_image.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ffff;
  margin-bottom: 0;
  min-height: 700px;
}

.about{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  min-height: 700px;
  /*padding-bottom: 3rem;
  padding-top: 3rem;
  */
  background-color: #D5D5D5;
}
.projects{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  min-height: 700px;
  /*padding-bottom: 3rem;
  padding-top: 3rem;
  */
  background-color: #9099A2;
}

.center{
  position: absolute;
  justify-content: center !important;
  text-align: center !important;
}

.home-fonts{
  font-weight: 300;
}

.card-header{
  font-weight: 400;
  font-size: 24px;
  color: #92C2DB;
  background-color: #ffff !important;

}
footer {
  background: #373B44;
  padding: 10px 0;
  text-align: center;
  color: white;
}
footer a {
  color: white;
  font-size: 20px;
  padding: 10px;
  transition: all .5s ease;
}

footer a:hover {
  color: #70726F;
}
