.navbar {
  background-color: #dfd9e7;
}

#home{
  height: 93.3vh;
  /*padding-bottom: 3rem;
  padding-top: 3rem; */
  background-image: url(background_image.jpg);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: #ffff;
  margin-bottom: 0;
  background-size: cover;
}

#about{
  padding-bottom: 3rem;
  padding-top: 3rem;
  background-color: #ffff;

}

section {
  width: 100%;
  margin: 0;
  max-width: none;
  background-color: #373B44;
  height: 100vh;
}

.home-fonts{
  font-weight: 300;
}

.card-header{
  font-weight: 400;
  font-size: 24px;
  color: #92C2DB;
  background-color: #ffff !important;

}
